html{
  margin: 0;
}
*{
  box-sizing: border-box;
}
#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#board{
  display: flex;
  flex-wrap: wrap;
  outline: 5px black solid;
  width: 80vh;
  height: 80vh;
}
.square{
  /* border: 1px darkslategrey solid; */
  width: 10vh;
  height: 10vh;
  text-align:center;
  line-height: 10vh;
  font-size: 7.5vh;

}
.light{
  background: rgb(239, 245, 251);
}
.dark{
  background:rgb(86, 86, 86);
}
.black{
  color:black;
}
.white{
  color:silver;
}
.possibleMove{
  background:rgba(116, 255, 10, 0.6);
}

.check{
  background:rgba(247, 31, 2, 0.6);
}

.noLegalMoves{
  background-color: rgba(255, 255, 0, 0.6);
  transition: background-color 0.5s;
}
/*
.promotion-popup {
}

.promotion-button {
}

.promotion-button:hover {
}
/*